In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.decomposition import PCA
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
train_x=pd.read_csv('train.csv')
train_y=train_x['target']
test_x=pd.read_csv('test.csv')
id=test_x['id']
test_x.drop('id',axis=1)
test_y=pd.read_csv('sample_submission.csv')
test_y.drop('id',axis=1)

        target
0          0.5
1          0.5
2          0.5
3          0.5
4          0.5
...        ...
539995     0.5
539996     0.5
539997     0.5
539998     0.5
539999     0.5

[540000 rows x 1 columns]

In [3]:
model=GaussianNB()

In [4]:
train_x=train_x.drop('id',axis=1)

In [5]:
train_x=train_x.drop('target',axis=1)

In [6]:
train_x

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
0,0.106643,3.594370,132.8040,3.184280,0.081971,1.18859,3.732380,2.266270,2.099590,0.012330,...,0.010739,1.098620,0.013331,-0.011715,0.052759,0.065400,4.211250,1.978770,0.085974,0.240496
1,0.125021,1.673360,76.5336,3.378250,0.099400,5.09366,1.275620,-0.471318,4.545940,0.037706,...,0.135838,3.460170,0.017054,0.124863,0.154064,0.606848,-0.267928,2.577860,-0.020877,0.024719
2,0.036330,1.497470,233.5460,2.194350,0.026914,3.12694,5.056870,3.849460,1.801870,0.056995,...,0.117310,4.883000,0.085222,0.032396,0.116092,-0.001688,-0.520069,2.141120,0.124464,0.148209
3,-0.014077,0.246000,779.9670,1.890640,0.006948,1.53112,2.698000,4.517330,4.503320,0.123494,...,-0.015347,3.474390,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.968600,0.040017,0.044873
4,-0.003259,3.715420,156.1280,2.147720,0.018284,2.09859,4.154920,-0.038236,3.371450,0.034166,...,0.013781,1.910590,-0.042943,0.105616,0.125072,0.037509,1.043790,1.074810,-0.012819,0.072798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,0.043008,1.640550,1375.8900,1.087030,0.839580,1.69362,3.843520,1.108250,1.505390,-0.022177,...,0.046537,1.552280,0.080317,0.017643,0.225133,0.073179,4.436510,1.739330,0.049038,0.065804
599996,0.137048,4.826860,-99.6478,0.985289,0.037712,3.30370,2.471790,5.942130,0.875148,-0.009738,...,0.109293,1.345210,0.092457,0.081926,0.234041,0.041383,3.873990,1.870100,0.162313,0.085662
599997,1.316220,0.502062,66.2360,2.233020,0.060038,3.77371,2.655340,3.155890,1.055020,0.025137,...,0.117131,2.181150,0.032708,0.109668,0.027466,0.061931,-0.383329,0.922113,0.084864,0.052635
599998,0.511918,3.827470,777.8720,0.285914,0.520157,2.76285,2.522200,1.561360,1.971140,0.461982,...,0.072443,0.366702,0.070943,0.071452,-0.038071,0.038829,-0.122888,3.107790,0.061333,0.004179
599999,0.179347,3.457390,160.5980,3.297320,0.102784,1.89434,0.057866,2.073280,1.191480,0.025498,...,0.088059,2.282780,0.160674,0.029301,1.059810,0.007639,3.732990,1.965300,0.049075,0.044436

In [7]:
model.fit(train_x,train_y)

GaussianNB()

In [8]:
test_x=test_x.drop('id',axis=1)

In [9]:
pred=model.predict(test_x)

In [12]:
final_data={'id':id,'target':pred}
submis=pd.DataFrame(data=final_data)

In [13]:
submis.to_csv('submission1.csv' , index=False)

In [14]:
df=pd.read_csv('submission1.csv')
df.head()

       id  target
0  600000       0
1  600001       0
2  600002       1
3  600003       0
4  600004       0